<div class='container'>
  <div class='row mt-4'>
    <div class='col-md-6 offset-md-3 align-self-center'>
      <h3>Your Weather Report For <%= params[:city] %>, <%= params[:state] %> </h3>
      <p>
        <%= link_to 'New Weather Report', root_path, class: 'btn btn-primary' %>
      </p>

      <div class='card'>
        <div class='card-body'>
          <div class='card-title'>
            <h4>Right Now <% if @cached_report %>*<% end %></h4>
          </div>
          <div class='card-text'>
            <p><%= @current_weather.summary %></p>
          </div>
      </div>
    </div>
  </div>

  <div class='row mt-4'>
    <div class='col align-self-center'>
      <h4>Your Forecast</h4>
    </div>
  </div>

  <div class='container'>
    <div class='row mt-4 equal'>
      <% @daily_forecasts[0..4].each_with_index do |forecast, idx| %>
        <%= render partial: 'daily_forecast', locals: { forecast: forecast, idx: idx } %>
      <% end %>
    </div>

    <div id='forecast-detail' class='container'>
    </div>

    <% if @cached_report %>
      <div class='row mt-4'>
        <div class='col align-self-center'>
          <p>* This report was cached and may be as much as 30 minutes out of date.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
